[submodule "pack/vendor/start/ctrlp.vim"]
	path = pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/vendor/start/ctrlsf.vim"]
	path = pack/vendor/start/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/vim-go"]
	path = pack/vendor/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
